<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quantum Network Simulator</title>

  <link rel="stylesheet" href="static/styles/styles.css" />

  <script src="https://unpkg.com/cytoscape@3.28.1/dist/cytoscape.min.js"></script>
</head>

<body>
  <div id="app">

    <!-- Sidebar (20%) -->
    <aside id="sidebar">
      <h2>Logs</h2>
      <div id="logs"></div>
    </aside>

    <!-- Main graph area (80%) -->
    <main id="main">
      <div id="graph"></div>
    </main>

  </div>

  <script src="static/js/js-requests.js"></script>
  <script src="static/js/js-handlers.js"></script>
  <script src="static/js/js-cytoscape.js"></script>
</body>
</html>
